#index-header{
	width: 100%;
	position: relative;
	z-index: 999;
	min-width: 1347px;
}
.index-gt{
	position: absolute;
	bottom: 2.5%;
	width: 3%;
	left:48.53%;
}
#index-serve{
	min-width: 1347px;
	position: relative;
}
.index-word{
	position: absolute;
	width: 22.98%;
	left: 8.71%;
	top: 39.33%;
}
.point{
	position: absolute;
	right: 21px;
	cursor: pointer;
}
.point1{
	top:39%;
	width: 0.8%;
}
.point2{
	right: 23px;
	top: 45.49%;
	width: 0.58%;
}
.point3{
	top: 51.80%;
}
.point4{
	top: 58.10%;
}
.serve{
	padding-top: 2.1%;
	padding-bottom: 4.6%;
	font-size: 30px;
	text-align: center;
}
.index-img{
	width: 90%;
	margin: auto;
	overflow: hidden;
}
.index-img div{
	width: 25%;
	float: left;
	position: relative;
	text-align: center;
}
.item1{
	width: 85%;
}
.item11{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 85%;
	opacity: 0;
}
.p1{
	font-size: 24px;
	color: #424242;
	text-align: center;
}
.p11{
	color: #8d8d8d;
	padding-top: 2%;
	width: 75%;
	margin: auto;
	font-size: 14px;
}
#about{
	min-width: 1347px;
	position: relative;
}
.green{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 25%;
}
.index-about{
	width: 85%;
	margin: auto;
	position: relative;
}
.index-about div{
	position: absolute;
	width: 33.33%;
}
#about2{
	right: 0;
	left: 0;
	margin: auto;
}
#about1{
	left: 15%;
}
#about3{
	right: 15%;
}
#about .p2{
	padding-top: 6%;
	width: 78%;
	margin: auto;
	text-align: justify;
}
.honor{
	position: absolute;
	width: 100%;
	bottom: 0;
}
#company{
	min-width: 1347px;
	position: relative;
}
.company-img{
	padding-top: 3%;
	width: 76.86%;
	overflow: hidden;
	margin: auto;
}
.company-img div{
	text-align: center;
	float: left;
	width: 16.66%;
}
.i1{
	padding-top: 6%;
	width: 89.5%;
}
.i2{
	width: 72.67%;
}
.i3{
	width: 61%;
}
.i4{
	width: 64.5%;
}
.i5{
	width: 41.86%;
}
.i6{
	padding-top:26%;
	width: 87.20%;
}
.blue{
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: -1;
}
.company-footer{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10%;
	margin: auto;
	width: 90%;
}
.company-footer div{
	text-align: center;
	width: 14.28%;
	float: left;
}
.company-p{
	font-size: 22px;
	padding-bottom:44px;
}
#p1{
	width: 12.28%;
}
#p2{
	width: 16.28%;
}
@font-face {font-family: 'num';
    src: url('../font/num.eot'); /* IE9*/
    src: url('../font/num.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/num.woff') format('woff'), /* chrome、firefox */
    url('../font/num.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/num.svg#webfont') format('svg'); /* iOS 4.1- */
}
.company-footer p{
	color: white;
}
.conmpang-num{
	font-family:'num';
	font-size: 44px;
	margin: 0 5px;
}
#client{
	position: relative;
	min-width: 1347px;
}
.client-p{
	text-align: center;
	font-size: 24px;
	padding-top: 5%;
	padding-bottom: 4.8%;
}
.client-img{
	width: 85%;
	margin: auto;
	overflow: hidden;
}
.client-1{
	overflow: hidden;
	padding-bottom: 2.5%;
}
.client-1 div{
	float: left;
	margin-right:5.6%;
}
.client-img div img{
	width: 100%;
}
.cimg1{
	width: 5.32%
}
.cimg2{
	width: 16.23%
}
.cimg3{
	width: 12.39%
}
.cimg4{
	width: 11.16%;
}
.cimg5{
	width: 5.32%
}
.cimg6{
	width: 9.94%;
}
.client-1 .cimg7{
	margin-right:0;
	width: 5.32%;
	float: right;
}
.client-2 div{
	float: left;
	margin-right:3.5%;
}
.cimg8{
	width: 3.05%
}
.cimg9{
	width: 12.39%
}
.cimg10{
	width: 5.06%
}
.cimg11{
	width: 8.81%;
}
.cimg12{
	width: 4.71%
}
.cimg13{
	width: 4.62%;
}
.cimg14{
	width: 6.28%
}
.cimg15{
	width: 4.86%;
}
.cimg16{
	width: 12.73%
}
.client-2 .cimg17{
	float: right;
	margin-right:0;
	width: 5.32%
}
.client-3 div{
	float: left;
	margin-right:3.5%;
}
.cimg18{
	width: 15.53%;
}
.cimg19{
	width: 7.06%
}
.cimg20{
	width: 7.32%;
}
.cimg21{
	width: 29.49%
}
.cimg22{
	width: 13.69%;
}
.client-3 .cimg23{
	width: 6.8%;
	float: right;
	margin-right:0;
}
.client-4 div{
	float: left;
	margin-right:4.5%;
}
.cimg24{
	width: 9.25%
}
.cimg25{
	width: 4.8%;
}
.cimg26{
	width: 12.74%
}
.cimg27{
	width: 9.77%;
}
.cimg28{
	width: 12.21%;
}
.cimg29{
	width: 10.03%;
}
.client-4 .cimg30{
	width: 13.52%;
	float: right;
	margin-right:0;
}
.client-5 div{
	float: left;
	margin-right:4.2%;
}
.cimg31{
	width: 10.7%
}
.cimg32{
	width: 10.2%;
}
.cimg33{
	width: 9.77%
}
.cimg34{
	width: 9.77%;
}
.cimg35{
	width: 13.35%;
}
.cimg36{
	width: 9.68%;
}
.client-5 .cimg37{
	width: 11.08%;
	float: right;
	margin-right:0;
}
.client-6 div{
	float: left;
	margin-right:4.2%;
}
.cimg38{
	width: 7.3%
}
.cimg39{
	width: 3.75%;
}
.cimg40{
	width: 10.38%
}
.cimg41{
	width: 6.45%;
}
.cimg42{
	width: 6.7%;
}
.client-5 .cimg43{
	width: 8.9%;
	float: right;
	margin-right:0;
}
@media only screen and (min-width: 1400px) and (max-width: 1600px){
	.serve{
		padding-top: 4.1%;
		font-size: 2.06em;
	}
	.p1{
		font-size: 1.65em;
		padding-top: 4%;
    	padding-bottom: 4%;
	}
	.p11{
		font-size: 0.96em;
	}
	.p2{
		font-size: 1.1em;
	}
	.company-p{
		font-size: 1.51em;
	}
	.conmpang-num{
		font-size: 3.02em;
	}
	.csp{
		font-size: 1.1em;
	}
	.client-1{
		padding-bottom: 4%;
	}
}
@media only screen and (min-width: 1600px) and (max-width: 1900px){
	.serve{
		padding-top: 4.1%;
		font-size: 2.47em;
	}
	.p1{
		font-size: 1.97em;
		padding-top: 4%;
    	padding-bottom: 4%;
	}
	.p11{
		font-size: 1.27em;
	}
	.p2{
		font-size: 1.42em;
	}
	.company-p{
		font-size: 1.82em;
	}
	.conmpang-num{
		font-size: 3.33em;
	}
	.csp{
		font-size: 1.41em;
	}
	.client-1{
		padding-bottom: 4%;
	}
}
@media only screen and (min-width: 1900px) and (max-width: 2200px){
	.serve{
		padding-top: 4.1%;
		font-size: 2.88em;
	}
	.p1{
		font-size: 2.28em;
		padding-top: 4%;
    	padding-bottom: 4%;
	}
	.p11{
		font-size: 1.58em;
	}
	.p2{
		font-size: 1.73em;
	}
	.company-p{
		font-size: 2.13em;
	}
	.conmpang-num{
		font-size: 3.64em;
	}
	.csp{
		font-size: 1.474em;
	}
	.client-1{
		padding-bottom: 4%;
	}
}
@media only screen and (min-width: 2200px) and (max-width: 2600px){
	.serve{
		padding-top: 2%;
		padding-bottom: 2%;
		font-size: 3.19em;
	}
	.p1{
		font-size: 2.59em;
		padding-top: 2%;
    	padding-bottom: 1%;
	}
	.p11{
		font-size: 1.89em;
	}
	.p2{
		font-size: 2.04em;
	}
	.company-p{
		font-size: 2.44em;
	}
	.conmpang-num{
		font-size: 3.95em;
	}
	.csp{
		font-size: 1.78em;
	}
	.client-1{
		padding-bottom: 1%;
	}
}
#white li a{
	color: #FFFFFF;
}
